
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}

body.sidebar-first
body {
  width: 640px;
}
#sidebar-first,
.navigation,
#toolbar,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}
.one-sidebar #content{
  width: 100%;
}


/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}
