html fieldset legend a
{
  color: #8A3586;
}
html fieldset legend a:hover,
html fieldset legend a:focus,
html fieldset legend a:active
{
  color: #8A3586;
}
html .filter-wrapper .form-select
{
  background: none repeat scroll 0 0 #8A3586;
  min-width: 120px;
}
html #block-block-1 h2
{
  color: #8A3586;
  margin: 0;
  padding: 0;
}
html .filter-wrapper .form-select
{
  background: none repeat scroll 0 0 #8A3586;
  min-width: 120px;
}
html fieldset .fieldset-wrapper .form-select,fieldset .fieldset-wrapper input.form-text,html fieldset .fieldset-wrapper textarea.form-textarea,html fieldset .fieldset-wrapper select.form-select
{
  background: none repeat scroll 0 0 #8A3586;
}
html #overlay-content
{
  background: none repeat scroll 0 0 #8A3586;
}
html #main-menu-links li a.active,
html #main-menu-links li.active-trail a
{
  background: #8A3586;
  border-radius: 5px 0 0 5px;
  color: #000;
}
html #page-wrapper
{
  background: #8A3586;
}
html #sidebar-first ul.menu li
{
  color: #8A3586;
}
html #sidebar-first .item-list ul li
{
  color: #8A3586;
}
html #page-wrapper
{
  background: #8A3586;
}
html #main-menu-links li a.active,html #main-menu-links li.active-trail a
{
  background: none repeat scroll 0 0 #8A3586;
}
html .sidebar h2
{
  color: #8A3586;
}
html fieldset .fieldset-wrapper .form-select,html fieldset .fieldset-wrapper input.form-text,html fieldset .fieldset-wrapper textarea.form-textarea,html fieldset .fieldset-wrapper select.form-select
{
  background: none repeat scroll 0 0 #8A3586;
}
html .page-fix-0
{
  color: #8A3586;
}
html #site-slogan
{
  color: #8A3586;
}
